<div class='row content-box'>
  <div class='col-xs-12'>
    <h4>Create an account</h4>

    <%= render 'form_registration' %>

    <div class='shared-links'>
      <%- if controller_name != 'sessions' %>
        <%= link_to "Go back to log in", new_session_path(resource_name), class: 'btn btn-block btn-warning' %>
      <% end -%>
    </div>
  </div>
</div>

