<li class='comment'>
  <span class='comment-author'><%= comment.body %></span><br>
  <span class='comment-commenter'><%= User.find(comment.user_id).name %>
    on <%= comment.date_print %>
  </span>
</li>