<div class='row'>
  <div id='sign-up-social' class='col-xs-12'>
    <span> -- OR --</span>
  </div>
  <div id='sign-up-social' class='col-xs-12'>
    <% if devise_mapping.omniauthable? %>
      <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
      <% end %>
      <%= link_to omniauth_authorize_path(resource_name, :google_oauth2) do %>
        <i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>