<div class='social-login__text'>
  <h5>Or use Social Login</h5>

  <div class='row'>
    <% if devise_mapping.omniauthable? %>
      <div class='col-xs-6'>
        <%= link_to 'facebook', omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-block social-login__btn--fbook' %>
      </div>
      <div class='col-xs-6'>
        <%= link_to 'Google+', omniauth_authorize_path(resource_name, :google_oauth2), class: 'btn btn-block social-login__btn--google' %>
      </div>
    <% end %>
  </div>
</div>