<h1>User List</h1>

<% @users.each do |user| %>
  <p>
    <strong><%= user.name %></strong>
    <% if current_user.friends.include?(user)%>
      <%= "Already friended" %>
    <% else %>
      <%= link_to "Request Friend", friendships_path(friend_id: user), method: :post %>
    <% end %>
  </p>
<% end %>