<div class='row content-box'>
  <div class='col-xs-12'>
    <h1>User List</h1>
    <h4>You may know some of them</h4>
    <div id='all-users-listed'>
      <%= render @users %>
    </div>
  </div>
</div>