<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <% flash.each do |flash_type, message| %>
      <div class="alert alert-<%= flash_type %>">
        <button type='button' class='close fade' data-dismiss='alert'>
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end%>
  </div>
</div>