<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class='glyphicon glyphicon-menu-hamburger'></span>
      </button>
      <a class='navbar-brand' href="/">OdinFB</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        <%= link_to current_user do %>
          <span class='glyphicon glyphicon-user'></span>  PROFILE
        <% end %>
        </li>
        <li>
          <a href='#'>
            <span class='glyphicon glyphicon-envelope'></span>
            <span>REQUESTS</span>
            <% if user_signed_in? %>
              <span class='badge'>
                <%= current_user.requested_friendships.count %>
              </span>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>