<div class='row content-box'>
  <div class='col-xs-12'>
    <h1>Welcome!</h1>
    <h4>Please sign in to continue</h4>

    <%= render 'form_session' %>
    <%= render 'devise/shared/omniauth_links' %>
  </div>
</div>

<%= render 'devise/shared/sign-up' %>
