<div class='row'>
  <div class='session-box col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <h1>Welcome!</h1>
    <h4>Please sign in to continue</h4>

    <%= render 'form' %>
    <%= render 'devise/shared/omniauth_links' %>
  </div>
</div>

<%= render 'devise/shared/sign-up' %>