<div class='row content-box'>
  <div class='col-xs-12'>
    <h1>The Feed</h1>
    <h4>Here's the smack people are saying about you</h4>

    <div class='button-group'>
      <div id='new-post-button'>
        <%= link_to 'Create a post', new_post_path, class: 'btn btn-block btn-primary form-control' %>
      </div>
  
      <div>
        <%= link_to 'See all users', users_path, class: 'btn btn-block btn-warning form-control'%>
      </div>
    </div>
  </div>
</div>

<% unless @posts.blank? %>
  <div id='all-posts-box' class='row content-box'>
    <div class='col-xs-12'>
      <%= render @posts %>
    </div>
  </div>
<% end %>
