<div class='row content-box'>
  <div class='col-xs-12'>
    <h1>Write your post</h1>
    <h4>Drop a truth-bomb on everyone</h4>
  </div>

  <div id='post-box'>
    <div class='col-xs-12'>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>

