// comments
#toggle-button {
  margin-top: 10px;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin: 10px 10px;

  .comment-author{
    font-size: 1.3em;
  }
  
  .comment-commenter {
    font-weight: bold;
    color: gray;
    font-size: .85em;
  }
}

#comment-form {
  margin-top: 20px;
}

#comment-submit {
  margin-bottom: 15px
}

#comment-cancel {
  margin-bottom: 20px
}