@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

#post {
  border: 1px solid black;
}

// flash
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}