.button-group {
  margin: 30px 0px 15px;
}

#all-posts-box {
  margin-top: 15px;
}

.individual-post {
  background-color: white;
  border: solid 1px lightgrey;
  padding: 5% 5%;
  margin: 10px 0px;
  font-size: 1em;
  div {
    margin-bottom: 10px;
  }
}

//post
.post-text {
  .post-author {
    font-weight: bold;
    color: #3b5998;
  }

  .post-time {
    font-size: .85em;
  }
}

.post-body {
  font-size: 1.3em;
  padding-bottom: 15px;
  border-bottom: solid 1px lightgrey;
}

.post-links {
  div {
    text-align: left;
  }
}

// comments
#toggle-button {
  margin-top: 10px;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin: 10px 10px;

  .comment-author{
    font-size: 1.3em;
  }
  
  .comment-commenter {
    font-weight: bold;
    color: gray;
    font-size: .85em;
  }
}


// new posts
#post-box {
  margin-top: 10px;
}

#post-body {
  margin-top: 10px;
}

#post-submit {
  margin-top: 20px;
  margin-bottom: 15px
}

#post-cancel {
  margin-bottom: 20px
}

// random
#new-post-button {
  margin-top: 10px;
  margin-bottom: 10px;
}