// posts
.post-box {
  background-color: white;
  border: solid 1px lightgrey;
  padding: 10px 10px;
  margin: 10px 0px;
}

.post-text {
  font-size: 1em;
  
  div {
    margin-bottom: 10px;
  }
}

.post-reactions {
  display: flex;

  .likes {
    flex: 1;
    text-align: center;
  }

  .comments {
    flex: 1;
    text-align: center;
  }
}

.post-links {
  div {
    text-align: center;
  }
}

// comments

.toggle-comments > button {
  margin-top: 10px;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin: 10px 10px;
}

.comment-commenter {
  font-weight: bold;
  color: gray;
}


// new posts
#post-box {
  margin-top: 10px;
}

#post-body {
  margin-top: 10px;
}

#post-submit {
  margin-top: 20px;
  margin-bottom: 15px
}

#post-cancel {
  margin-bottom: 20px
}