.post-box {
  background-color: white;
  border: solid 1px lightgrey;
  padding: 10px 10px;
  margin: 10px 0px;
}

.post-text {
  font-size: 1em;
  
  div {
    margin-bottom: 10px;
  }
}

.post-reactions {
  display: flex;

  .likes {
    flex: 1;
    text-align: center;
  }

  .comments {
    flex: 1;
    text-align: center;
  }
}

.post-links {
  div {
    text-align: center;
  }
}