// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
#all-users-listed {
  margin-top: 15px;
}
#all-users-listed__individual {
  margin-bottom: 15px;
}

.all-users-listed__actions {
  text-align: center;
}

// show
.friends__individual {
  margin-top: 15px;
}

// gravatar
.gravatar {
  float: left;
  margin-right: 10px;
}