<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to OdinBook, <%= @user.name %></h1>
    <p>
      You have successfully signed up. Please confirm your account by clicking on the following link:<br>
    </p>
    <p>
      <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>